.header__logo {
  margin: 28px 0 31px 27px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 142px;
    margin: 45px 15px 41px;
  }
}

@media screen and (min-width: 890px) {
  .header__logo {
    margin: 45px 0 41px;
  }
}