.popup__input {
  border: none;
  border-bottom: 1px solid #0003;
  padding: 0 0 9px;
}

.popup__input:focus {
  border-bottom: 1px solid #007dff;
}

.popup__input:invalid {
  border-bottom: 1px solid #f00;
}