.gallery__like-btn {
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease;
}

.gallery__like-btn:hover {
  opacity: .5;
}