.profile__subtitle {
  margin: 0;
  justify-self: center;
  text-align: start;
  line-height: 1.15;
  font-size: 14px;
  font-weight: 400;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    font-size: 18px;
    text-align: start;
    justify-self: start;
  }
}