.gallery__like-number {
  width: 10px;
  height: 13px;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  background-color: transparent;
  color: #000;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}