.gallery__delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  background-image: url(../../../images/Trash.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.gallery__delete-btn:hover {
  opacity: .6;
}