.profile__name {
  margin: 22px 0 0 46px;
  max-width: 190px;
  line-height: 1.15;
  font-size: 27px;
  font-weight: 500;
  text-align: center;
  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__name {
    max-width: 294px;
    line-height: 1.14;
    font-size: 42px;
    margin: 22px 0 0 30px;
  }
}