.root {
  margin: 0 auto;
  min-width: 320px;
  color: #fff;
  font-family: 'Inter', Arial, sens-serif;
  background-color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}