@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);

@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__subtitle/prifile__subtitle.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__list/gallery__list.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/gallery/__info/gallery__info.css);
@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__like-btn/gallery__like-btn.css);
@import url(../blocks/gallery/__like-btn/_active/gallery__like-btn_active.css);
@import url(../blocks/gallery/__delete-btn/gallery__delete-btn.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/popup/__block/popup__block.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);

@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);

@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);

/* @import url(../blocks/popup/__text/popup__text.css); */
/* @import url(../blocks/popup/__text/_type/popup__text_type_error.css); */

@import url(../blocks/popup/__save-btn/popup__save-btn.css);
@import url(../blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css);

@import url(../blocks/popup/__close-btn/popup__close-btn.css);

@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__caption/popup__caption.css);
